body {
    background-image: url("https://media.discordapp.net/attachments/718267235285598308/718268991495209020/eS4IxK3.png") ; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    text-align: center;
  }

  h1 {
color: rgb(255, 255, 255);
   }
      h2 {
         color: rgb(255, 255, 255);
   }

 
   .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #000;
     color: white;
     text-align: center;
  }
         
   ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
   }
   
   li {
     float: left;
   }
   
   li a:hover:not(.active) {
     background-color: #439feb;
   }
   
   .active {
     background-color: #1b90f0;
   }
 
   input[type=button], input[type=submit], input[type=reset] {
     background-color: #0080FF;
     border: none;
     color: white;
     padding: 16px 32px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
   }
 
   li a, .dropbtn {
     display: inline-block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
   li a:hover, .dropdown:hover .dropbtn {
     background-color: #439feb;
   }
   
   li.dropdown {
     display: inline-block;
   }
   
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: #333;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
   .dropdown-content a {
     color: rgb(255, 255, 255);
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
   }
   
   .dropdown-content a:hover {background-color: #f1f1f1;}
   
   .dropdown:hover .dropdown-content {
     display: block;
   }

    /* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}
